<head>
  …
  <link rel="stylesheet" href="https://unpkg.com/milligram/dist/milligram.min.css" />
</head>
<body>
  <header>
    <h1>Number Converter</h1>
  </header>
  <main>@RenderBody()</main>
</body>